<div class="top-padding">
  {{#unless user}}
  <h2 class="section-title">Login</h2>
  {{user.username}}

  <form action="/login" method="POST" id="form-container" class="input-form">
    
    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="JonSnow">

    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Your password">
    
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <button>Login</button>

    <p class="account-message">
      Don't have an account yet?
      <a href="/signup">Signup</a>
    </p>
  </form>
  <div class="google-signup-login">
    <a href="/auth/google">Login With Google</a>
  </div>
  {{/unless}}
  {{#if user}}
  <h2>You are logged in, {{user.username}}</h2>
  {{/if}}

</div>