<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  <nav>
    <a href="/">Home</a> ||
    <a href="/login">Login</a> ||
    <a href="/signup">Signup</a> ||
    {{!-- <a href="/post">View posts</a> || --}}
    <a href="/post/create">Create post</a> ||
    <a href="/user/profile">User profile</a> ||
    <a href="/logout">Logout</a>
  </nav>

  {{{body}}}


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/script.js"></script>


</body>
</html>