<h2>Edit user profile</h2>
{{#with user}}

<form action="/user/edit" method="post">
  <label>Name</label>
  <input type="text" name="username"  value="{{username}}">
  <label>Email</label>
  <input type="text" name="email"  value="{{email}}">
  <label>Description</label>
  <input type="text" name="description" value="{{description}}">
  {{#if user.googleID}}
 <label>New password</label>
  <input type="password" name="password" value="{{password}}">
  {{/if}}

  <input type="submit" value="SAVE">






</form>

{{!-- <form action="/user/edit" method="post" enctype="multipart/form-data">

  <label>Profile photo</label>
  <input type="file" name="imgPath">

  <input type="submit" value="SAVE">
</form> --}}


{{/with}}