Private page

  <div>
    <img src="{{user.imgPath}}" alt="Profile photo">
    <h2>Hello {{user.username}} 🚀</h2>
    <q>{{user.description}}</q>
    
    <a href="/user/edit">Edit profile</a>
    <a href="/">Index</a>
    <a href="/logout">Logout</a>
  </div>

