<div class="top-padding">
  <h1 class="section-title">Private page</h1>
  <h2 class="section-title">Hello {{user.username}} 🚀</h2>


  <div class="profile-card">
    <div class="profile-card-left">
      {{!-- <div>
      </div> --}}
      <div>
        <img src="{{user.imgPath}}" alt="Profile photo">
      </div>
      <div>
        <p>{{user.description}}</p>
      </div>
      <div class="profile-margin-a">
        <a href="/user/edit">Edit profile</a>
      </div>
      <div class="profile-margin-a">
        <a href="/post/show-bookmarks">Show bookmarks</a>
      </div>
    </div>

    <div>

      <div class="profile-container">

        <ul class="profile-posts-container">

        </ul>

      </div>


    </div>
    <script src="/javascripts/postScript.js"></script>
  </div>
</div>  