<h1> Daily planner </h1>

<form id="new-plan">
  <div>
    <input type="text" id="cal" placeholder="calories">
  </div>
  <div>
    <label>diet</label>
    <select id="diet">
      <option value=""></option>
      <option value="Gluten Free">Gluten Free</option>
      <option value="Ketogenic">Ketogenic</option>
      <option value="Vegetarian">Vegetarian</option>
      <option value="Lacto-Vegetarian">Lacto-Vegetarian</option>
      <option value="Ovo-Vegetarian">Ovo-Vegetarian</option>
      <option value="Vegan">Vegan</option>
      <option value="Pescetarian">Pescetarian</option>
      <option value="Paleo">Paleo</option>
    </select>
  </div>
  <div>
    <label>allergies</label><input type="text" id="allergies">
  </div>
  <input type="submit" value="Go!">
</form>


</div>
<ul id="plan-container">
</ul>
<div id="recipe-plan-container">
  
</div>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/APIHandler.js"></script>
<script src="/javascripts/index.js"></script>

