<h1> Daily planner </h1>

<form id="new-plan">
  <div>
    <input type="text" id="cal" placeholder="calories">
  </div>
  <div>
    <label>diet</label><input type="text" id="diet">
  </div>
  <div>
    <label>allergies</label><input type="text" id="allergies">
  </div>
  <input type="submit" value="Go!">
</form>


</div>
<ul id="plan-container">
</ul>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/APIHandler.js"></script>
<script src="/javascripts/index.js"></script>