<div class="top-padding">
  <h1 class="section-title">Create a Post</h1>

<form action="/post/create" method="post" enctype="multipart/form-data" class="input-form">

  <div class="input-form">
    <label for="postName">Title:</label>
    <input type="text" name="postName">
  </div>

  <div class="input-form">
    <label for="genericRecipe">Generic recipe:</label>
    <input type="text" name="genericRecipe">
  </div>
  

  <div class="input-form">
    <label for="content">Content:</label>
    <textarea name="content" cols="30" rows="10"></textarea>
  </div>


  <div class="input-form">
    <label for="picPath">Photo:</label>
    <input type="file" name="picPath">
  </div>


  {{!-- <label class="fileContainer">
    Click here to trigger the file uploader!
    <input type="file"/>
  </label> --}}

  <button type="submit">Create Post</button>
</form>
</div>